.footer-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
}

.footer-container .logo{
    font-size: 20px;
    font-weight: bolder;
}

.footer-container .links{
    display: flex;
    gap: 10px;
}

.footer-container .socials{
    display: flex;
    gap: 10px;
    font-size: 20px;
}